<div class="parent" fxLayout>
    <div fxFlex class="left">Left</div>
    <div fxFlex class="right">Right</div>
</div>
<div class="parent" fxLayout>
    <div fxFlex="30%" class="left">Left</div>
    <div fxFlex="70%" class="right">Right</div>
</div>
<div class="parent" fxLayout="column">
    <div fxFlex="30%" class="left">Left</div>
    <div fxFlex="70%" class="right">Right</div>
</div>
<p></p>
<!-- vertical layouts on small devices -->
<div class="parent" fxLayout.sm="column" fxLayout.xs="column">
    <div fxFlex="30%" class="left">Left</div>
    <div fxFlex="70%" class="right">Right</div>
</div>